<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.thrithvam.spoffice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Enquiries"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_enquiries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnquiryInput"
            android:configChanges="orientation|screenSize"
            android:label="@string/enquiry" />
        <activity
            android:name=".FollowUpInput"
            android:configChanges="orientation|screenSize"
            android:label="@string/follow_up" />
        <activity
            android:name=".FollowUp"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_follow_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupplierOrders"
            android:configChanges="orientation|screenSize"
            android:label="Supplier Orders" />
        <activity
            android:name=".QuotationsList"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_quotations_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProformaList"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_proforma_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerOrdersList"
            android:label="@string/title_activity_customer_orders_list"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>